<app-main-post-viewer-post-list-filter
    [allowSubredditFiltering]="(hasGoldSubscription$ | async)"
    (filterApplied)="onFilterApplied()"
></app-main-post-viewer-post-list-filter>

<app-main-spinner *ngIf="(isPolling$ | async)"></app-main-spinner>

<div *ngIf="!(isPolling$ | async)" class="grid-container quarters post-list">
    <div *ngFor="let post of savedPosts$ | async" class="post-list-card">
        <div class="post-list-card-header">
            <h6>{{ post.title | truncatePostTitle }}</h6>
            <span>r/{{ post.subreddit }}</span>
        </div>
        <div class="post-list-card-footer">
            <a class="button" href="https://www.reddit.com{{ post.permalink }}" target="_blank">View</a>
        </div>
    </div>
</div>

